.el-dialog__header {
  background: #ebebeb;
  border-radius: 6px 6px 0 0;
  padding: 9px 20px;
  display: inline-flex;
  line-height: 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.el-dialog__title {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  font-weight: bolder;
  text-align: left !important;
  line-height: 30px;
}
.el-dialog__headerbtn {
  position: relative;
  top: auto;
  right: auto;
  line-height: 30px;
}
.el-dialog__body {
  padding: 16px;
}
.el-dialog__footer {
  padding-top: 0;
}

.el-dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto !important;
  height: fit-content;
  max-height: 90vh;
}
.el-dialog__body {
  max-height: calc(90vh - 48px);
  overflow-y: auto;
}
.dialog-footer {
  display: inline-flex;
  justify-content: flex-end;
  padding: 16px 0 0;
  width: 100%;
}
*::-webkit-scrollbar {
   width: 8px;
   height: 5px;
 }
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
  background: #c4c4c5;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
}
