div.mxPopupMenu {
  position: absolute;
  border-width: 0 !important;
}
table {
  border-collapse: collapse;
}
table.mxPopupMenu {
  width: max-content;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  background: white;
  border-radius: 4px;
  border: none;
  padding: 4px;
}
table.mxPopupMenu hr {
  color: #cccccc;
  background-color: #D0D0D0;
  border: none;
  height: 2px;
  margin: 2px 0;
}
table td.mxPopupMenuItem {
  padding: 8px 24px 8px 8px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  color: #000000;
  &:nth-child(2) {
    width: 200px;
  }
}
table td.mxPopupMenuIcon {
  background: none;
}
.mxPopupMenuItemHover {
  transition: all 0.1s ease-in-out;
}
html tr.mxPopupMenuItemHover {
  background-color: #eeeeee;
  color: black;
  cursor: pointer;
}
